<h1>Add a Comment!</h1>

<% @comment.errors.full_messages.each do |error|%>
  <div class="alert alert-danger">
    <%= error %>
  </div>
  <% end %>

<%= form_for @comment do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text, class: 'form-control' %>  
  <hr>
  <%= f.submit class: 'btn btn-primary' %>
  <% end %>
