<h1>Welcome to the World of Links</h1>

<% @links.each do |link| %>
    <h4>
      <%= link.id %>:
      <a href= <%= link.url %> > <%= link.url %> </a>
      <%= link.comments.count %> comments
      <%= link_to " View Comments ", link_comments_path(link.id) %>
      <%= link_to " Add Comment ", new_link_comment_path(link.id) %>
    </h4>
<% end %>
